$btn-color-success: #4caf50;
$btn-color-danger: #f44336;

.main-content {

    margin: 0 auto;
    width: 900px;
    border: 2px solid green;
    text-align: center;

    .btn {
        display: inline-block;
        background: white;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        transition-duration: 0.4s;
        margin: 5px;

        &:hover {
            color: white;
        }
    }

    .btn-primary {
        border: 2px solid $btn-color-success;
        &:hover {
            background: $btn-color-success;
        }
    }

    .btn-danger {
        border: 2px solid $btn-color-danger;
        &:hover {
            background:  $btn-color-danger;
        }
    }

}